*                             @Org-Syntax/SM-PO1-Jhamilton @Org-Syntax/CodeOwners(cw)
/src/                         @Org-Syntax/SM-PO1-Jhamilton @Org-Syntax/CodeOwners(cw)
/docs/                        @Org-Syntax/SM-PO1-Jhamilton @Org-Syntax/CodeOwners(cw)
/.github/                     @Org-Syntax/CodeOwners(cw)
/docs/rubrica-evaluacion.md   @Org-Syntax/CodeOwners(cw)