*                             @Org-Syntax/SM-PO1-Jhamilton @Org-Syntax/ScrumMaster(sm)
/src/                         @Org-Syntax/SM-PO1-Jhamilton @Org-Syntax/ScrumMaster(sm)
/docs/                        @Org-Syntax/SM-PO1-Jhamilton @Org-Syntax/ScrumMaster(sm)
/.github/                     @Org-Syntax/ScrumMaster(sm)
/docs/rubrica-evaluacion.md   @Org-Syntax/ScrumMaster(sm)