*                       @SM-P01-Jhamilton @Org-Syntax/codeowners-cw
/src/                   @SM-P01-Jhamilton @Org-Syntax/codeowners-cw
/docs/                  @SM-P01-Jhamilton @Org-Syntax/codeowners-cw
/.github/               @Org-Syntax/codeowners-cw
/docs/rubrica-evaluacion.md @Org-Syntax/codeowners-cw